<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uploaded Files</title>
</head>
<body>
    <h1>Uploaded Files</h1>
    <table>
        <thead>
            <tr>
                <th>File Name</th>
                <th>Uploaded By</th>
                <th>Upload Time</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>{{ file['filename'] }}</td>
                <td>{{ file['user_id'] }}</td>
                <td>{{ file['upload_time'] | datetimeformat }}</td>
                <td><a href="{{ url_for('download_file', file_id=file['id']) }}">Download</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="{{ url_for('profile') }}">Back to Profile</a></p>
</body>
</html>
